.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 3em;
}

.navbar img {
  height: 2em;
}

li {
  float: left;
  height: 100%;
}

li a {
  display: block;
  color: white;
  height: 100%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.home-btn {
  margin-top: -5px;
}

.blog-btn {
  float: right;
}

@media screen and (max-width: 600px) {
  li, .blog-btn {
    float: none;
  }

  .navbar {
    max-height: 100%;
  }
}